/*
COLORI:
Marrone: 4A4036
Marrone più scuro: 342D26
Grigio:  D6D1C2
*/


.allinealogo
{
    padding-left: 10px;

}

#logo
{
    padding-top: 5px;
    padding-bottom: 10px;
}


#youTubeLogo
{
    width: 90px;

}

#facebookLogo
{
    padding-top: 12px;
    padding-left: 20px;
    
    width: 50px;

}



#istruzionieinfo
{
    align-content: right;
    text-align: right;
}



#scrollami
{
    padding-top: 50px;
    font-size: 24px;

}


body 
{
    background-color: #4A4036;
}

.container 
{
    background-color: #D6D1C2;
    max-width: 976px;
}


#headerlogo
{
    padding-top: 5px;
    padding-bottom: 5px;
}


#secondaria 
{
    padding: 10px;
    background-color: #342D26;
    color: white;
    font-size: x-small;
}


#modificacarrello
{
    color: green;
    opacity: 0;
}


#core 
{
    padding-bottom: 15px;
    
}


.mheader
{
   padding-top: 25px;

}

.verySmallFont
{
    font-size: xx-small;
}

.smallFont
{
   
    
    font-size: x-small;
}

.centra
{
    padding-top: 30px;

    

}

.card
{
    width:40px;

}


.carousel-inner
{
    width: 100%;
}


#papamarchino, #papamarchino > div  
{
    padding-top: 2px;
    padding-bottom: 2px;
    
    border-top-style: solid;
    border-bottom-style: solid;
    
    border-top-color: darkgray;
    border-bottom-color: darkgray;
    
    border-top-width: thin;
    border-bottom-width: thin;

}





#marchino
{
    font-family: "Sans-serif", Verdana;
    font-size: x-small;

}


.item > img
{
    width: 100%;
}


.navbar-default 
{
    background-image: none;
    background-repeat: no-repeat;
    border-radius: 5px;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15) inset, 0px 1px 5px rgba(0, 0, 0, 0.075);

    background-color: #342d26;
    border-color: #4a4036;
}





.nav
{
    background-color: #342d26;
}

.nav > ul > li
{
    background-color: #342d26;  
    border-color: #4a4036;
}

.nav > ul > li > a
{
    color: pink;
}


.navbar-default .navbar-nav > .active > a,  .navbar-default .navbar-nav > .active > a:focus 
{
    background-color: #4A4036;
    background-image: none;
    background-repeat: no-repeat;
    box-shadow: none;
    color: white;
}




.navbar-default .navbar-nav > li > a:hover
{
    color: white;
}

.navbar-default .navbar-nav > li > a:focus
{
    color: white;
    background-color: #4A4036;
}





/*

.navbar-default .navbar-brand {
  color: red;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #342d26;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #4a4036;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #342d26;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #4a4036;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #4a4036;
}
.navbar-default .navbar-toggle {
  border-color: #4a4036;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #4a4036;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #4a4036;
  }
}
*/




