/* FOOTER */


#youTubeLogo
{
    width: 90px;

}

#facebookLogo
{
    padding-top: 12px;
    padding-left: 20px;
    
    width: 50px;

}

#secondaria 
{
    padding: 10px;
    background-color: #342D26;
    color: white;
    font-size: x-small;