<div class="row buynowrow">


    <div class="col-lg-4 buynow">

        <div>
            <div class="polaroid">
                <img src="img/compra_ora/coprip.jpg"></img>
            </div>

            <div>
            <h5><strong>Copripiumini Online</strong></h5>
            <p>
                Novità da oggi puoi acquistare qui il tuo copripiumino scopri l'offerta
            </p>
            </div>
        </div>                    
    </div>

    <div class="col-lg-4 buynow">
        <div>
            <div class="polaroid">
            <img src="img/compra_ora/masextanigif1.gif"></img>
            </div>


            <h5><strong>Promozione Invernale</strong></h5>
            <p>
                Si avvicina l'inverno, la Pedersoli Piumini vi propone un piumino 
                invernale di alta qualità ad una prezzo scontatissimo... 
                Non perdete tempo la disponibilità è limitata... 
                IN PIU' SPESE DI SPEDIZIONE GRATUITE Scopri l'offerta                
            </p>
        </div>
    </div>

    <div class="col-lg-4 buynow">
        <div>
            <div class="polaroid">
            <img src="img/compra_ora/coprip1.jpg"></img>
            </div>
            <h5><strong>Copripiumini</strong></h5>
            <p>
                Novità da oggi puoi acquistare qui il tuo copripiumino scopri l'offerta
            </p>
        </div>
    </div>
</div>

<div class="row buynowrow">
    <div class="col-lg-4 buynow">
        <div>
            <div class="polaroid">
            <img src="img/compra_ora/portenfant2.jpg"></img>
            </div>
            <h5><strong>Portenfent in piumino</strong></h5>
            <p>
                Un caldo, soffice nido per i vosti piccoli. Utilissimo anche per il trasporto
                in carrozzina e sul seggiolino dell'auto. Disponibile in tre colori..
            </p>
        </div>
    </div>

    <div class="col-lg-4 buynow">
        <div>
            <div class="polaroid">
            <img src="img/compra_ora/trovapium.jpg"></img>
            </div>
            <h5><strong>Il tuo piumino ideale?</strong></h5>
            <p>
                Lo trovi in pochi secondi. Scegli il peso, la misura e il tessuto.. Prova subito
            </p>
        </div>
    </div>

    <div class="col-lg-4 buynow">
        <div>
            <div class="polaroid">
                <img src="img/compra_ora/topper2.jpg"></img>
            </div>

            <h5><strong>Topper in piumino</strong></h5>
            <p>
                Si adagia su qualsiasi materassso e ne incrementa la comodità, 
                migliorando la distribuzione del peso corporeo. Traspirante, 
                igienico, anallergico. Disponibile in tre misure..
            </p>
        </div>
    </div>
</div>