<div class="chartsection">   
    <div class="row chartheader">
        <div class="col-lg-2">
        </div>

        <div class="col-lg-6">
        </div>

        <div class="col-lg-3">
            Prezzo
        </div>

        <div class="col-lg-1">
            Quantità
        </div>

    </div>

    <div class="row chartitem">
        <div class="col-lg-2">
            <img src="img/carrello/guanciale-classic.png"></img>
        </div>

        <div class="col-lg-6 itemdescription">
            <a href="#" class="itemname">X-Bionic Marathon Calza da Running per Uomo, Bianco/Nero, 44-46 <a>
                <br/>

                <a href="#" class="removeitem">Rimuovi</a>

        </div>

        <div class="col-lg-3 price">
        EUR 58,32
        </div>

        <div class="col-lg-1">
            <input type="number" value="1" min="1" max="100">
        </div>

    </div>
</div>