<!-- Logo YouTube -->
<div class="col-lg-1">
    <img src="img/youtube/youtubelogo.png" id="youTubeLogo"></img>
</div>
    
<!-- Logo Facebook -->
<div class="col-lg-1">
    <img src="img/facebook/png/FB-f-Logo__blue_100.png" id="facebookLogo"></img>
</div>

<!-- Dati azienda -->
<div class="col-lg-10">
    <strong> Pedersoli PIUMINI di Baisini Maria & C s.n.c.</strong>  
    (gi&agrave;  Casa dello Scampolo) - Via Roccole 35 - Darfo Boario Terme (BS) <br/>
    Tel. 0364-53.00.25 - Fax 0364-52.78.96 - info@pedersolipiumini.it <br/>
    C.F. 01427340177 - P.I. 00625550983
</div>  